:root {
  --blue: #288ad6;
  --green: #16c98d;
  --red: #fa5e5b;
  --yellow: #feef6d;
  --orange: #fe7c08;
  --pink: #ff708e;
  --purple: #8e44ad;
  --gray: #95a5a6;

  --dark: #000;
  --bright: #fff;

  // Color Scheme
  --primary-color: #181830;
  --secondary-color: var(--orange);
  --highlight-color: var(--blue);

  // Common colors
  --text-color: #444;
  --bg-color: #f1f1f1;
  --border-color: #ddd;

  // Links
  // --color-link-default:
  // --color-link-visited:
  // --color-link-hover:
  // --color-link-active:

  // brands-color
  --twitter: #55acee;
  --facebook: #3b5998;
  --youtube: #cd201f;
  --pinterest: #bd081c;
  --instagram: #e4405f;
  --whatsapp: #25d366;

  // Color references
  --bg-credit: #dcdc;
  --btn-login-bg: #6200ee;
  --btn-facebook-bg: #1877f2;
  --login-footer-end-bg:  #D9D9D9;

}
