.img-logo
{
    width: 116px;
    height: 32px;
}

.search-icon
{
    font-size: 25px;
}

.cart-item
{
    .cart-icon
    {
        font-size: 20px;
    }
    .cart-count
    {
        font-size: 25px;
    }
}

.user-icon
{
    font-size: 20px;
}