h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
// heading, text

.search-text {
  font-size: 31px;
  padding-left: 8px;
}

.Login-title-container {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;

  .login-title {
    font-size: 48px;
    font-weight: 350;
  }
}

.credit-Section {
  background-color: var(--login-footer-end-bg);
}

.form-control {
  background-color: transparent !important;
  border: 1px rgb(155, 155, 155) solid !important;

  &::placeholder {
    color: rgb(155, 155, 155) !important;
  }
}

.card-section .title-card-container {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(90deg, #a77dfa 0%, #e64b97 100%);

  background-clip: text;

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.register-section {
  padding: 80px 0;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.register-input {
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  padding: 12px 15px;
  width: 100%;
}

/* put here for now, suppose to set this in js*/
.validation-register {
  min-height: 20px; 
  color: #dc3545; 
  font-size: 0.85rem;
  margin-top: 4px;

}
